In [1]:
import pandas as pd

In [2]:
file_path_measurements='hawaii_measurements.csv'
file_path_stations='hawaii_stations.csv'

In [3]:
csv_measurements=pd.read_csv(file_path_measurements)
csv_measurements.head(3)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74

In [4]:
csv_stations=pd.read_csv(file_path_stations)
csv_stations.head(3)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0

In [5]:
csv_measurements.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [6]:
csv_stations.dtypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [7]:
csv_stations.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [8]:
csv_measurements.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [9]:
clean_csv_measurements=csv_measurements.dropna(how='any')
clean_csv_measurements.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [11]:
clean_csv_measurements.to_csv('clean_hawaii_measurements.csv',index=False)
csv_stations.to_csv('clean_hawaii_stations.csv',index=False)